/.vscode
/proposal_grade.pdf
/CP Handbook_2025-26_250829.pdf
/c_c-data-structures-and-algorithms-in-c.pdf
/Intro slides - LMS3.pptx
/key_references
/report

# Backend stuff
/backend/config.ini
/backend/.venv
